@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

:root {
    --color-background: #f0f0f7;
    --color-primary-lighter: #9871f5;
    --color-primary-light: #916bea;
    --color-primary: #04befe;
    --color-primary-dark: #4481eb;
    --color-secundary: #04d361;
    --color-secundary-dark: #5e9ea1;
    --color-title-in-primary: #444;
    --color-text-in-primary: #d4c2ff;
    --color-text-title: #32264d;
    --color-text-complement: #9c98a6;
    --color-text-base: #6a6180;
    --color-line-in-white: #e6e6f0;
    --color-input-background: #fcfcfc;
    --color-input-primary: #333;
    --color-i-primary: #acacac;
    --color-button-text: #ffffff;
    --color-box-base: #ffffff;
    --color-box-footer: #fafafc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    color: #000;
    background-color: var(--color-background);
}

body, input, textarea{
    font-family: 'Montserrat Alternates', sans-serif;
}

button{
    font-family: 'Quesat Demo', sans-serif;
}