/*
.input-block:focus-within::after {
  width: calc(100% - 3.2rem);
  height: 2px;
  content: '';
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
}
*/

html {
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 2.5rem;
}

.container::before{
    content: '';
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    background: linear-gradient(0deg, var(--color-secundary-dark), var(--color-primary));
    transform: translateX(-45%);
    left: 30%;
    bottom: 65%;
}

.form-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
}

.title{
    font-size: 3.5rem;
    color: var(--color-title-in-primary);
    margin-bottom: 1rem;
    text-align: center;
}

.subtitle{
    font-size: 2rem;
    color: var(--color-title-in-primary);
    margin-bottom: 1rem;
    text-align: center;
}

.input-field{
    width: 100%;
    height: 100px;
    background: var(--color-input-background);
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .5rem;
}

.input-field i{
    text-align: center;
    line-height: 100px;
    color: var(--color-i-primary);
    font-size: 2.5rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-input-primary);
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.redir{
    text-decoration: none;
    color: var(--color-input-primary);
    margin: 3rem;
    font-size: 1.5rem;
}

.btn-login{
    color: #f7f5ee;
    display: flex;
    padding: 0;
    border: none;
    outline: none;
    background: var(--color-secundary-dark);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: all 160ms ease-in;
    width: 20rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
}

button:hover{
    background: #8acfd3;
    color: var(--color-input-primary);
    transform: scale(.90);
    transition: .8s;

}

.button-icon{
    margin-right: 1rem;
    font-size: 2.5rem;
}

.panel-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
}

.panel-container .content{
    padding-top: 0.5rem;
    transform: translateX(0px);
    color: #fff;
}

.panel-container h3{
    font-weight: 600;
    line-height: 1;
    font-size: 3.8rem;
}

.panel-container p{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.image{
    width: 600px;
    padding-bottom: 5rem;
}

@media (min-width: 1024px) {
    html {   
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container{
        width: fit-content;
        flex-direction: row;
        margin-right: auto;
        margin-left: auto;
        border-radius: 25px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
        padding-bottom: 0;
    }

    .container::before{
        transform: translateY(15%) translateX(-75%);
    }
    
    .form-container{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .title{
        font-size: 2.2rem;
    }

    .subtitle{
        font-size: 1.2rem;
    }

    .input-field{
        max-width: 380px;
        width: 100%;
        height: 55px;
    }
    
    .input-field i{
        line-height: 55px;
        font-size: 1.1rem;
    }

    .input-field input{
        font-size: 1.1rem;
    }
    
    .redir{
        font-size: 1rem;
        margin: 1.5rem 0 1.5rem 0;
    }
    
    .btn-login{
        width: 8rem;
        height: 3rem;
        cursor: pointer;
        font-size: 1.2rem;
    }

    .button-icon{
        font-size: 1.2rem;
    }
    
    .panel-container {
        align-items: unset;
        text-align: unset;
    }
    
    .panel-container h3{
        font-size: 1.5rem;
    }

    .panel-container p{
        font-size: .95rem;
        padding: .7rem 0;
    }

    .image {
        width: 400px;
    }
}